@import "colors";
@import "mixins";

.about-section {
  display: flex;
  flex-direction: column;
  
  min-height: 400px;
  width: 100%;

  .about {
    margin: 0 4rem 0 4rem;
  }
  
  .title {
    @include centered;
    font-size: 3rem;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;

    @include text1;
    border-radius: 50px;
    background-color: $bg-color-primary;
    padding: 0 1.5rem 0 1.5rem;
  }

  .waves {
    @include spacer('../public/svg/dividers/wave-odd-1.svg');
  }
}