@import "mixins";

.about-section {
  display: flex;
  flex-direction: column;
  
  min-height: 400px;
  width: 100%;

  .about {
    padding: 0 4rem 0 4rem;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  .card-about {
    display: flex;

    .description {
      flex: 0 0 70%;
    }

    .image {
      flex: 0 0 30%;
      border-radius: 0.25rem;
    }
  }

  .waves {
    @include spacer;
    background-image: url('../public/svg/dividers/wave1.svg');
  }
}