.about {
  height: auto;
  width: 100%;
}

.centered {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.image {
  border-radius: 1rem;
  border: 1rem solid black;
  box-shadow: 1rem;
}
