@import "colors";

.contact{
  margin: 0.5rem 0 2rem 0;
  height: auto;
  width: 800px;
}

.centered {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.contact-form {
  margin: 1rem 0 1rem 0;
  padding: 4.5rem 4rem 4.5rem 4rem;
  background: white;
  box-shadow: 0 0 10px 3px $shadow-color;
  border-radius: 0.25rem;
}

.auth {
  display: flex;
  flex-direction: row;
}

.header {
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
  font-size: 2rem;
  margin: 0.5rem;
}

.field {
  font-family: 'Segoe UI', sans-serif;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  // experiment with gap: x;
  flex: 1;
  display: flex;
  flex-direction: column;
  
  :focus {
    box-shadow: 0 0 0 3px $border-color-focus;
    outline: 0;
    //outline: 3px solid #b8d9ef; doesnt work for chrome
  }

  .label {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .input {
    font: inherit;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 2px solid $border-color;
    border-radius: 0.25rem;
    line-height: 28px;
  }

  .message {
    font: inherit;
    line-height: 28px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 2px solid $border-color;
    border-radius: 0.25rem;
    line-height: 28px;
    height: 6rem;
    resize: vertical;
  }
}

.submit-button {
  margin: 1rem 0 1rem 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background: $btn-color-gradient;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  cursor: pointer;  
  color: white;
  font-size: 1.25rem;
}

.errorMsg {
  color: $danger-color;
}

.successMsg {
  color: $success-color;
}