@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Open+Sans&display=swap');
@import "colors";
@import './Content.module', './Layout.module', './Contact.module';

@font-face {  font-family: 'Segoe UI';      font-style: normal;  font-weight: normal;  src: local('Segoe UI Regular'),     url('./fonts/Segoe UI.woff')             format('woff'); }
@font-face {  font-family: 'Segoe UI';       font-style: italic;  font-weight: normal;  src: local('Segoe UI Italic'),      url('./fonts/Segoe UI Italic.woff')      format('woff'); }
@font-face {  font-family: 'Segoe UI';         font-style: normal;  font-weight: bold;    src: local('Segoe UI Bold'),        url('./fonts/Segoe UI Bold.woff')        format('woff'); }
@font-face {  font-family: 'Segoe UI';  font-style: italic;  font-weight: bold;    src: local('Segoe UI Bold Italic'), url('./fonts/Segoe UI Bold Italic.woff') format('woff'); }

// BEM naming convention BLOCK ELEMENT MODIFIER block-something__element--modifier -> sticky-man__head--red
html,
body {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  padding: 0;
  margin: 0;
  background: $bg-color-test;
  color: $text-color;

  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}