.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: fixed;
  background-color: var(--bg-secondary);
  transition: width 200ms ease;
}

.sidebar_logo {
  width: 100%;
}

.sidebar_logo svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  width: 2rem;
  height: 2rem;
  transform: rotate(0deg);
  transition: transform 400ms;
}

.sidebar:hover .sidebar_logo svg {
  transform: rotate(-180deg);
}

.sidebar_items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar_item {
  width: 100%;
}

.sidebar_link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--bg-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.sidebar_link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: gray;
  color: var(--bg-primary);
}

.item_text {
  display: none;
  margin-left: 1rem;
}

.sidebar_item svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  width: 2rem;
  height: 2rem;
}

.button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: var(--bg-gradient);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;  
  color: white;
  font-size: 1.25rem;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 25px;
  border: 1rem solid black;
  box-shadow: 1rem;
}

/* TODO when its exactly 600px if messes up the sidebar */
@media only screen and (max-width: 600px) {
  .sidebar {
    bottom: 0;
    height: 5rem;
    width: 100vw;
    margin-top: 5rem;
    position: fixed;
  }

  .sidebar_logo {
    display: none;
  }

  .sidebar_items {
    flex-direction: row;
  }

  .sidebar_link {
    justify-content: center;
  }

  .footer {
    margin-bottom: 5rem;
  }

}

@media only screen and (min-width: 600px) {
  .sidebar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .sidebar:hover {
    width: 12rem;
  }
  
  .sidebar:hover .item_text {
    display: block;
    transition: opacity var(--transition-speed);
  }
}