@import "colors";

$sidebar-width: 5rem;
$transition-speed: "60ms";
$transition-sidebar-speed: "0.2s";

.layout { /* This makes .darkness full height 100% OK */
  overflow: hidden;
  position: relative;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 4rem 0 calc(4rem + #{$sidebar-width});
}

.main {
  flex: 1; //1 0 100%
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  background-color: $bg-color-secondary;
  z-index: 3;

  transition: width #{$transition-sidebar-speed} ease;

  &:hover {
    .sidebar_logo {
      svg {
        transform: rotate(-180deg);
        path {
          fill: $bg-color-primary;
        }
      }
    }
    ~ .darkness {
      //display: block;
      visibility: visible;
      opacity: 1;
    }
  }
}

.darkness {
  background-color: rgba(0, 0, 0, 0.5);
  //display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  transition: opacity #{$transition-sidebar-speed} linear;
}

.sidebar_logo {
  width: 100%;
  
  svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    width: 2rem;
    height: 2rem;
    transform: rotate(0deg);
    transition: transform 400ms;
    path {
      fill: $bg-color-sidebar-icons;
    }
  }
}

.sidebar_items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar_item {
  list-style-type: none;
  width: 100%;

  svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    width: 2rem;
    height: 2rem;
    path {
      fill: $bg-color-sidebar-icons;
    }
  }
}

.sidebar_link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $bg-color-primary;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  cursor: pointer;
  
  transition: $transition-speed;

  &:hover {
    filter: grayscale(0%) opacity(1);
    background-color: rgb(228, 228, 228);
    color: $bg-color-primary;
    path {
      fill: $bg-color-primary;
    }
  }
}

.item_text {
  opacity: 0;
  margin-left: 0.25rem;
  transition: opacity #{$transition-sidebar-speed};
}

/* FOOTER */
.footer {
  width: 100%;
  border-top: 2px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer_items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: auto;
    height: 50px;
    padding: 0;
    margin: 2rem 0 0 0;
    .footer_item {
      height: 3rem;
      width: 3rem;
      margin: 0 0.5rem 0 0.5rem;
    }
  }

  .footer_copyright {
    margin: 1.5rem 0 1rem 0;
    a {
      display: inline-block;
    }
    img {
      height: 1rem;
      width: 1rem;
    }
  }

  .link_name {
    color: $color-footer-link;
  }
}

/* TO TOP */
.arrowUp {
  min-width: 2rem;
  margin: 0 1.5rem;
  width: 2rem;
  height: 2rem;
}

/* TODO when its exactly 600px it messes up the sidebar */
@media only screen and (max-width: 600px) {
  .container {
    margin-left: 4rem; /*delete margin of sidebar*/
  }

  .sidebar {
    bottom: 0;
    height: 5rem;
    width: 100vw;
    margin-top: 5rem;
    position: fixed;
  }

  .sidebar_logo {
    display: none;
  }

  .sidebar_items {
    flex-direction: row;
  }

  .sidebar_link {
    justify-content: center;
  }

  .footer {
    margin-bottom: 5rem;
  }

}

@media only screen and (min-width: 600px) {
  .sidebar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .sidebar:hover {
    width: 12rem;
  }
  
  .sidebar:hover {
    .item_text {
      opacity: 1;
    }
  }
}